{% extends "base.html" %}
{% block body %}
<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-sm-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <div class="d-sm-flex align-items-center justify-content-evenly">
        <img src="{{ url_for('static', filename = 'assets/img/hero-img.jpg') }}" class="rounded-circle img-fluid w-25 .d-none .d-sm-block d-md-none d-lg-none" alt="">
        <div>
          <h1>Anas Fauzi</h1>
          <p>I'm <span class="typed" data-typed-items="Programmer, Python Developer, Web Developer, Backend Engineer"></span></p>
          <div class="social-links">
            <a href="https://www.linkedin.com/in/anas-fauzi/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
            <a href="https://github.com/Fauzi41" class="github"target="_blank"><i class="bx bxl-github"></i></a>
            <a href="https://instagram.com/_anasfauzi01" class="instagram"target="_blank"><i class="bx bxl-instagram"></i></a>
            <a href="https://facebook.com/anas.fauziixd" class="facebook"target="_blank"><i class="bx bxl-facebook"></i></a>
            </div>
        </div>
        <img src="{{ url_for('static', filename = 'assets/img/hero-img.jpg') }}" class="rounded-circle img-fluid w-25 d-none d-sm-block " alt="">
      </div>
    </div>
    
  </section><!-- End Hero -->
  
  <main id="main">
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="about__content">
          <div class="about__content-main">
            <h2 class="about__content-title">Get to know me!</h2>
            <div class="about__content-details">
              <p class="about__content-details-para">
                Hey! It's
                <strong>Anas Fauzi</strong> <br>
                I am a recent college graduate on March 2022 with Bachelor's degree in <strong>Informatic and Computer Engineering Education</strong>. 
                I am a fresh graduate with experience 
                working on several projects that passed funding research on <strong>Web Application Development</strong> in <strong>Computer Vision</strong> 
                and  <strong>Machine Learning</strong> fields. <br>
                As a fresh graduate I still need guidance and experience o explore IT Multiverse. So please
                <strong>Master, Sensei, Yoda, Mastah</strong> feel free to
                <strong>contact me</strong>.
              </p>
              <!-- <p class="about__content-details-para">
                I'm a bit of a digital product junky. Over the years, I've used
                hundreds of web and mobile apps in different industries and
                verticals. Feel free to
                <strong>contact</strong> me here.
              </p> -->
            </div>
            <!-- <a href="./#contact" class="btn btn--med btn--theme dynamicBgClr"
              >Contact</a> -->
          </div>
          <div class="about__content-skills">
            <h3 class="about__content-title">My Skills</h3>
            <div class="skills">
              <div class="skills__skill">Python</div>
              <div class="skills__skill">JavaScript</div>
              <div class="skills__skill">Kotlin</div>
              <div class="skills__skill">PHP</div>
              <div class="skills__skill">HTML</div>
              <div class="skills__skill">CSS/SASS</div>
              <div class="skills__skill">SQL</div>
              <div class="skills__skill">MongoDB</div>
              <div class="skills__skill">Flask</div>
              <div class="skills__skill">TensorFlow</div>
              <div class="skills__skill">React</div>
              <div class="skills__skill">Node.js</div>
              <div class="skills__skill">GIT</div>
              <div class="skills__skill">Docker</div>
              <div class="skills__skill">Google Cloud Platform</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= About Section ======= -->
    <!-- <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{{ url_for('static', filename = 'assets/img/profile-img.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Python &amp; Web Developer.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>15 May 1997</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <a href="https://nanasku.herokuapp.com/" class="text-primary"><span>https://nanasku.herokuapp.com/</span></a></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <a href="whatsapp://send?text=Hello Anas &phone=+6285867101824" class="text-dark"><span>+6285867101824</span></a></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kudus, Jawa Tengah</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor Degree</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <a href="mailto:anasfauzi.ozi@gmail.com" class="text-primary"><span>anasfauzi.ozi@gmail.com</span></a></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
              Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
            </p>
          </div>
        </div>

      </div>
    </section> -->
    <!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <!-- <section id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
              <p>Awards</p>
            </div>
          </div>

        </div>

      </div>
    </section>End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <!-- <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">PHP <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">WordPress/CMS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Photoshop <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section> -->
    <!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Anas Fauzi</h4>
              <p>
                I am a fresh graduate with experience working on several projects that passed funding research on Computer Vision and Machine Learning . Experienced web developing tools such HTML, CSS, JS, Python and PHP. Embrace the latest technologies, including Flask, ReactJS, Node JS, TensorFlow and Google Cloud Platform.
                
                <!-- <em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p> -->
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kudus, Central Java, Indonesia</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <a href="mailto:anasfauzi.ozi@gmail.com" class="text-primary"><span>anasfauzi.ozi@gmail.com</span></a></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <a href="whatsapp://send?text=Hello Anas &phone=+6285867101824" class="text-dark"><span>+6285867101824</span></a></li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Education  </h4>
              <h4>in Informatics and Computer Engineering Education</h4>
              <h5>2017 - 2021</h5>
              <p><em>Semarang State University, Semarang, Indonesia</em></p>
              <p>
                Graduated cumlaude with 3.54 GPA
              </p>
              <ul>
                <h5>2022</h5>
                <li>Journal Publication at Jurnal Informatika Polinema with title "SIMPLIFIKASI MODEL CV BERPADU OPERASI MORFOLOGI UNTUK DETEKSI OBJEK KANKER PADA CITRA USG." 
                  <br> DOI: <a href="https://doi.org/10.33795/jip.v8i2.923" target="_blank" rel="noopener noreferrer">https://doi.org/10.33795/jip.v8i2.923</a>
                </li>
                <h5>2021</h5>
                <li> Presenter of paper at International Conference on Community Empowerment and Engagement (ICCEE) 2021 with paper title "Web-based Application System for Cancerous Object Detection in Ultrasound Images" </li>
                
              </ul>
            </div>

            <!-- <h3 class="resume-title">Organization Experience</h3>
            <div class="resume-item">
              <h4>Engineering Research Club </h4>
              <h5>2017 - 2019</h5>
              <p><em>Faculty of Engineering, Semarang State University</em></p>
              <p>Staff Information and Communication</p>
              <ul>
              </ul>
              <h4>Kudus Mengajar </h4>
              <h5>2017 - 2018</h5>
              <p><em>Kudus</em></p>
              <p>Children's Tutor</p>
              <ul>
              </ul>
              <h4>Kudus Rubiks Community </h4>
              <h5>2015 - 2017</h5>
              <p><em>Kudus, Central Java </em></p>
              <p>Founder</p>
              <ul>
              </ul>
            </div> -->
            <!-- <div class="resume-item">
              <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
              <h5>2010 - 2014</h5>
              <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div> -->
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Teacher (Intern)</h4>
              <h5>2020</h5>
              <p><em>SMK N 11 Semarang, Semarang </em></p>
              <ul>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Android Developer (Intern)</h4>
              <h5>2020</h5>
              <p><em>Balai Pengembangan Multimedia Pendidikan dan Kebudayaan, Semarang </em></p>
              <ul>
                <li>Built sign language dictionary apps for android using Kotlin and Firebase based on Sistem Isyarat Bahasa Indonesia.</li>
                <li>Digitalized images and informations from Kamus Sistem Isyarat Bahasa Indonesia's book and usefull for BPMPK projects development.</li>
                <li>Built game education about viruses information for android using Godot Game Engine to participate in Lomba Aplikasi Mobile Kihajar 2020.</li>
                <li>Design front end UI applications using Adobe XD for BPMPK projects development.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Technician</h4>
              <h5>2015 - 2017</h5>
              <p><em>PT. Pura Group Unit Rotogravure </em></p>
              <ul>
                <li>Help design and built project for air conditioners using chiller cooling water and used blower motors to implement 3R.
                <li>Performed maintenance and error troubleshooting around 45 units of Air Conditioner, 10 Air Coolers and 5 Chiller.</li></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->
    
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">
  
        <div class="section-title">
          <h2>Portfolio</h2>
          
        </div>
  
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-web">Website</li>
              <li data-filter=".filter-app">Mobile Apps</li>
              <li data-filter=".filter-card">Game</li>
            </ul>
          </div>
        </div>
  
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          {% for project in projects %}
          {% include "cards.html" %}
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->  
    
    <!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Karangmalang Gebog, Kudus, Central Java 59354 </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p><strong>Email:</strong> <a href="mailto:anasfauzi.ozi@gmail.com" class="text-primary"><span>anasfauzi.ozi@gmail.com</span></a></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p><strong>Phone:</strong> <a href="whatsapp://send?text=Hello Anas &phone=+6285867101824" class="text-dark"><span>+6285867101824</span></a> </p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <!-- <h3>Anas Fauzi</h3>
      <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> -->
      <div class="copyright">
        &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->
  {% endblock %}
